:root {
    --main-width: 800px;
}

h1 sup {
    font-size: 0.5em;
}

.post-content .alert {
    border-inline-start: 3px solid var(--primary);
}

.post-content .alert-note {
    border-inline-start: 3px solid #407157;
}

.post-content .alert-warning {
    border-inline-start: 3px solid #bb1313;
}

.post-content figure {
    text-align: center;
}

.post-content figure blockquote {
    text-align: left;
}

.post-content figure figcaption {
    color: var(--secondary);
    font-weight: 400;
}

.post-content img {
    margin: 0 auto;
}

#disqus_thread {
    margin-top: 4em;
}
