:root {
    --main-width: 800px;
}

h1 sup {
    font-size: 0.5em;
}

.post-content .alert {
    border-inline-start: 3px solid var(--primary);
}

.post-content .alert-note {
    border-inline-start: 3px solid #407157;
}

.post-content .alert-warning {
    border-inline-start: 3px solid #bb1313;
}

.post-content .alert-series {
    border: 1px solid var(--tertiary);
    border-inline-start: 5px solid var(--tertiary);
    padding: 1rem;
    border-radius: var(--radius);
}

.post-content figure {
    text-align: center;
}

.post-content figure blockquote {
    text-align: left;
}

.post-content figure figcaption {
    color: var(--secondary);
    font-weight: 400;
}

.post-content img {
    margin: 0 auto;
}

.post-content details {
    margin-bottom: var(--content-gap);
}

#disqus_thread {
    margin-top: 4em;
}

.tag-entry .entry-cover {
    display: block;
}
